In [13]:
import pandas as pd
import re

In [5]:
# Sample text as provided
text = """
Ø¬Ø¯ÛŒØ¯ØªØ±ÛŒÙ† Ù‚ÛŒÙ…Øª Ø®ÙˆØ¯Ø±ÙˆÙ‡Ø§ÛŒ Ù¾Ø±ÙØ±ÙˆØ´ Ø¯Ø§Ø®Ù„ÛŒ Ø·Ø¨Ù‚ Ø§Ø³ØªØ¹Ù„Ø§Ù… Ø§Ø² Ù†Ù…Ø§ÛŒØ´Ú¯Ø§Ù‡Ø¯Ø§Ø±Ø§Ù†ØŒ 14 Ø¢Ø°Ø± Ù…Ø§Ù‡ 1403 

Ø³Ø§ÛŒÙ†Ø§â¬…ï¸474
Ø³Ø§ÛŒÙ†Ø§ Ø¯ÙˆÚ¯Ø§Ù†Ù‡ Ø¨Ø±Ø¬Û·â¬…ï¸528
Ø³Ø§ÛŒÙ†Ø§ Ø§ØªÙˆâ¬…ï¸590
Ø³Ù‡Ù†Ø¯â¬…ï¸542

Ú©ÙˆÛŒÛŒÚ© Ø§Ø³â¬…ï¸459/Ø³ÙØ´Ú©ÛŒ:461.5
Ú©ÙˆÛŒÛŒÚ©(GX)â¬…ï¸458.5
Ú©ÙˆÛŒÛŒÚ©(GXR)â¬…ï¸480
Ú©ÙˆÛŒÛŒÚ© Ø§ØªÙˆâ¬…ï¸616.5/Ø³ÙØ´Ú©ÛŒ:636
Ø§Ø·Ù„Ø³ Ø³ÙØ´Ú©ÛŒâ¬…ï¸587.5

Ø´Ø§Ù‡ÛŒÙ†â¬…ï¸840/Ø¨ÛŒ Ø³Ø§Ù†Ø±ÙˆÙ:740
Ø´Ø§Ù‡ÛŒÙ† Ø§ØªÙˆâ¬…ï¸894/Ù¾Ù„Ø§Ø³:1.158

Ø³ÙˆØ±Ù†(XU7P)â¬…ï¸671/Ø³ÛŒÙ…ÛŒ:677
Ø³ÙˆØ±Ù† Ù‚Ø§Ù„Ù¾Ø§Ù‚â¬…ï¸770
Ø³ÙˆØ±Ù† ÙÙˆÙ„â¬…ï¸790
Ø³ÙˆØ±Ù† Ø¯ÙˆÚ¯Ø§Ù†Ù‡â¬…ï¸Ù…Ø®Ø²Ù† Ø¨Ø²Ø±Ú¯:859

Ù¾Ø§Ø±Ø³ Ø³Ø§Ù„â¬…ï¸777/Ø³ÛŒÙ…ÛŒ:805
Ù¾Ø§Ø±Ø³ ÙÙˆÙ„â¬…ï¸826/Ø³ÛŒÙ…ÛŒ:870

Ø±Ø§Ù†Ø§ Ø§Ø±ØªÙ‚Ø§â¬…ï¸733
Ù¾ Û²Û°Û· (tu3)â¬…ï¸707
Ù¾ Û²Û°Û· Ù‡ÛŒØ¯Ø±ÙˆÙ„â¬…ï¸789
Ù¾ Û²Û°Û· Ø¯Ù†Ø¯Ù‡ Ù¾Ø§Ù†Ø§â¬…ï¸856
Ù¾ Û²Û°Û· Ø§ØªÙˆ ÙÙ„Ø²â¬…ï¸978
Ù¾ Û²Û°Û· Ø§ØªÙˆ Ù¾Ø§Ù†Ø§â¬…ï¸1.022
 
Ø¯Ù†Ø§ Ø¨ÙˆØ±Ø³ÛŒâ¬…ï¸789
Ø¯Ù†Ø§ Û¶Ø¯Ù†Ø¯Ù‡â¬…ï¸881
Ø¯Ù†Ø§ Ø§ØªÙˆâ¬…ï¸1.056

ØªØ§Ø±Ø§ (V1)â¬…ï¸869
ØªØ§Ø±Ø§ (V2)â¬…ï¸Ù…Û´Û°Û³Ø¨Ø±Ø¬Û±: 985
ØªØ§Ø±Ø§ (V4)â¬…ï¸1.065

Ù‡Ø§ÛŒÙ…Ø§(S5)â¬…ï¸1.504
Ù‡Ø§ÛŒÙ…Ø§(S7)â¬…ï¸1.785
Ù‡Ø§ÛŒÙ…Ø§(S8)â¬…ï¸Ù…Ø´Ú©ÛŒ:1.995
Ù‡Ø§ÛŒÙ…Ø§(X7)â¬…ï¸Ù…Ø´Ú©ÛŒ:1.705

Ø¬Ú©(S3)â¬…ï¸Ù…Ø´Ú©ÛŒ:1.248
Ø¬Ú©(J7)â¬…ï¸Ù…Ø´Ú©ÛŒ:1.645
Ø¬Ú©(X5)â¬…ï¸Ù…Ø´Ú©ÛŒ:1.758
Ø¬Ú©(A5)â¬…ï¸1.554/Ù…Ø´Ú©ÛŒ:1.565
Ø¬Ú©(T9)â¬…ï¸Ù…Ø´Ú©ÛŒ:2.298

ÙÛŒØ¯Ù„ÛµØ³ÙÛŒØ¯ÛµÙ¾Ø±â¬…ï¸1.810/Ø¯Ù‡Ù¾Ø±:1.830
ÙÛŒØ¯Ù„ÛµÙ…Ø´Ú©ÛŒÛµÙ¾Ø±â¬…ï¸1.825/Ø¯Ù‡Ù¾Ø±:1.845
ÙÛŒØ¯Ù„Û·Ø³ÙÛŒØ¯ÛµÙ¾Ø±â¬…ï¸1.860
ÙÛŒØ¯Ù„Û·Ù…Ø´Ú©ÛŒÛµÙ¾Ø±â¬…ï¸1.895

ÙÛŒØ¯Ù„ÛµØ³ÙÛŒØ¯Ù†Ø³Ú©Ø§ÙÙ‡â¬…ï¸2.485/Ø·ÙˆØ³ÛŒ:2.420
ÙÛŒØ¯Ù„ÛµÙ…Ø´Ú©ÛŒâ€Œâ€Œâ€ŒÙ†Ø³Ú©Ø§ÙÙ‡â¬…ï¸2.525
ÙÛŒØ¯Ù„Û·Ø³ÙÛŒØ¯Ù†Ø³Ú©Ø§ÙÙ‡â¬…ï¸2.545/Ø·ÙˆØ³ÛŒ:2.4â€Œ70
ÙÛŒØ¯Ù„Û·Ù…Ø´Ú©ÛŒâ€Œâ€ŒÙ†Ø³Ú©Ø§ÙÙ‡â¬…ï¸2.555

Ù¾Ø±Ø§ÛŒÙ… Ø³ÙÛŒØ¯Ù…Ø´Ú©ÛŒâ¬…ï¸1.805
Ù¾Ø±Ø§ÛŒÙ… Ø³ÙÛŒØ¯Ù…Ø§Ø±ÙˆÙ†â¬…ï¸1.825
Ù¾Ø±Ø§ÛŒÙ… Ù…Ø´Ú©ÛŒâ€ŒÙ…Ø´Ú©ÛŒâ¬…ï¸1.835
Ù¾Ø±Ø§ÛŒÙ… Ù…Ø´Ú©ÛŒâ€ŒÙ…Ø§Ø±ÙˆÙ†â¬…ï¸1.895

Ù¾Ø±Ø³ØªÛŒÚ˜ Ø³ÙÛŒØ¯Ù…Ø´Ú©ÛŒâ¬…ï¸2.380
Ù¾Ø±Ø³ØªÛŒÚ˜ Ø³ÙÛŒØ¯Ù…Ø§Ø±ÙˆÙ†â¬…ï¸2.425
Ù¾Ø±Ø³ØªÛŒÚ˜ Ù…Ø´Ú©ÛŒâ€ŒÙ…Ø´Ú©ÛŒâ¬…ï¸2.445
Ù¾Ø±Ø³ØªÛŒÚ˜ Ù…Ø´Ú©ÛŒâ€ŒÙ…Ø§Ø±ÙˆÙ†â¬…ï¸2.488

Ø§ÛŒÚ©Ø³Û²Û²Ø¯Ù†Ø¯Ù‡â¬…ï¸Ù…Ø´Ú©ÛŒ:904
Ø§ÛŒÚ©Ø³Û³Û³ Ø§ØªÙˆâ¬…ï¸1.182Ù…Ø´Ú©ÛŒ:1.140
Ø§ÛŒÚ©Ø³ÛµÛµâ¬…ï¸Ù…Ø´Ú©ÛŒ:1.495

Ø¢Ø±ÛŒØ²ÙˆÛµâ¬…ï¸1.410
Ø¢Ø±ÛŒØ²ÙˆÛ¶ Ù¾Ø±Ùˆâ¬…ï¸1.600
Ø¢Ø±ÛŒØ²ÙˆÛ¶ (gt)â¬…ï¸1.795/Ù…Ø´Ú©ÛŒ:1.760
Ø¢Ø±ÛŒØ²ÙˆÛ¸Ù…Ø´Ú©ÛŒÛ´Û°Û²â¬…ï¸2.720

ØªÛŒÚ¯ÙˆÛ·â¬…ï¸Ù…Ø´Ú©ÛŒ2.010
ØªÛŒÚ¯ÙˆÛ¸(ie)â¬…ï¸Ù…Ø´Ú©ÛŒ:2.990
ØªÛŒÚ¯Û¸Ù‡ÛŒØ¨Ø±ÛŒØ¯â¬…ï¸Ù…Ø´Ú©ÛŒ:2.870
ÙÙˆÙ†ÛŒÚ©Ø³ Ø§Ùâ€ŒØ§ÛŒÚ©Ø³â¬…ï¸Ù…Ø´Ú©ÛŒ:2.090
Ø§Ú©Ø³ØªØ±ÛŒÙ… (vx)â¬…ï¸Ù…Ø´Ú©ÛŒ:4.565

Ù„Ø§Ù…Ø§Ø±ÛŒâ¬…ï¸1.955/Ù…Ø´Ú©ÛŒ:1.900
Ø±Ø³Ù¾Ú©Øªâ¬…ï¸1.478/Ù…Ø´Ú©ÛŒ:1.510
ØªÛŒÚ¯Ø§Ø±Ø¯â¬…ï¸1.332

Ù„ÙˆÛŒÙ† Ù‡ÛŒØ¨Ø±ÛŒØ¯â¬…ï¸2.940/Ù…Û²Û°Û²Û´: 3.055
Ù„ÙˆÛŒÙ†Û±Û²Û°Û°â¬…ï¸Ù…Û²Û°Û²Û³: 2.630/Ù…Û²Û°Û²Û´: 2.690

Ú©Ø±ÙˆÙ„Ø§ Ù‡ÛŒØ¨Ø±ÛŒØ¯â¬…ï¸Ù…Û²Û°Û²Û´: 3.100
Ú©Ø±ÙˆÙ„Ø§ Û±Û²Û°Û°â¬…ï¸2.610/Ù…Û²Û°Û²Û´: 2.710
Ú©Ø±ÙˆÙ„Ø§ Ú©Ø±Ø§Ø³â¬…ï¸4.150

Ø³Ù„ØªÙˆØ³ ÙÙˆÙ„Û²Û°Û²Û´â¬…ï¸3.950
Ú©ÛŒØ§ (k5)Ù…Û²Û°Û²Û³â¬…ï¸3.930
Ú†Ø§Ù†Ú¯Ø§Ù†(CS55)Ù…Û²Û°Û²Û´â¬…ï¸2.295
Ú†Ø§Ù†Ú¯Ø§Ù†(CS35)Ù…Û²Û°Û²Û´â¬…ï¸1.695
Ú¯Ú© Ø§Ù…Ù¾ÙˆÛ²Û°Û²Û´â¬…ï¸2.730
ÙˆØ²Ù„Û²Û°Û²Û´â¬…ï¸3.220
Ø§ÙˆØªÙ„Ù†Ø¯Ø±Û²Û°Û²Û³â¬…ï¸4.910
Ù‡ÙˆÙ†Ú¯Ú†ÛŒâ¬…ï¸3.200
Ø¢Ø¦ÙˆØ¯ÛŒ Ø¨Ø±Ù‚ÛŒÛ²Û°Û²Û´â¬…ï¸6.850
Ø³ÛŒÙ„ÙÛŒ Ù…Ú©Ø³Û²Û°Û²Û³â¬…ï¸4.070
ÙÙˆÙ„Ú©Ø³ Ø¨Ø±Ù‚ÛŒâ¬…ï¸4.430

Ù¾Ø±Ø§ÛŒØ¯ ÙˆØ§Ù†Øª Ù¾Ø§Ø´Ø´ÛŒâ¬…ï¸333/Ù„Ø§ÛŒÙ†Ø±:338
Ø§Ø±ÛŒØ³Ø§Ù†â¬…ï¸495
Ù†ÛŒØ³Ø§Ù† ØªÚ©â¬…ï¸Ù‡ÛŒØ¯Ø±ÙˆÙ„:653/Ø³ÛŒÙ…ÛŒ:760
Ù†ÛŒØ³Ø§Ù† Ø¯ÙˆÚ¯Ø§Ù† Ø³ÛŒÙ…ÛŒ Ø±Ø§Ø¯ÛŒØ§Ù„â¬…ï¸715
Ú©Ø§Ø±ÙˆÙ†â¬…ï¸
"""

In [15]:
# Function to parse the text
def parse_text_to_dataframe(text):
    data = []
    lines = text.strip().split("\n")
    
    for line in lines:
        if 'â¬…ï¸' in line:
            # Split by â¬…ï¸ to separate car name and prices
            name_part, prices_part = line.split('â¬…ï¸', 1)
            name = name_part.strip()
            
            # Handle multiple prices (separated by / or :)
            price_variants = re.split(r'[/|:]', prices_part)
            for variant in price_variants:
                variant = variant.strip()
                
                # Extract variant name and price
                if ':' in variant:
                    variant_name, price = variant.split(':', 1)
                    variant_name = variant_name.strip()
                else:
                    variant_name = None
                    price = variant.strip()
                
                # Convert price to a float if possible
                try:
                    price = float(price.replace(',', ''))
                except ValueError:
                    price = None
                
                # Append to the data list
                data.append({
                    "Car Name": name,
                    "Variant": variant_name,
                    "Price": price
                })
    
    # Create DataFrame from data
    df = pd.DataFrame(data)
    return df

In [17]:
# Parse the text and create DataFrame
df = parse_text_to_dataframe(text)

# Save the DataFrame to CSV
output_csv = "car_prices.csv"
df.to_csv(output_csv, index=False, encoding="utf-8")
print(f"Data saved to {output_csv}")

# Display the DataFrame
print(df.head())

Data saved to car_prices.csv
            Car Name Variant  Price
0              Ø³Ø§ÛŒÙ†Ø§    None  474.0
1  Ø³Ø§ÛŒÙ†Ø§ Ø¯ÙˆÚ¯Ø§Ù†Ù‡ Ø¨Ø±Ø¬Û·    None  528.0
2          Ø³Ø§ÛŒÙ†Ø§ Ø§ØªÙˆ    None  590.0
3               Ø³Ù‡Ù†Ø¯    None  542.0
4           Ú©ÙˆÛŒÛŒÚ© Ø§Ø³    None  459.0

In [19]:
df

                    Car Name Variant  Price
0                      Ø³Ø§ÛŒÙ†Ø§    None  474.0
1          Ø³Ø§ÛŒÙ†Ø§ Ø¯ÙˆÚ¯Ø§Ù†Ù‡ Ø¨Ø±Ø¬Û·    None  528.0
2                  Ø³Ø§ÛŒÙ†Ø§ Ø§ØªÙˆ    None  590.0
3                       Ø³Ù‡Ù†Ø¯    None  542.0
4                   Ú©ÙˆÛŒÛŒÚ© Ø§Ø³    None  459.0
..                       ...     ...    ...
143                 Ù†ÛŒØ³Ø§Ù† ØªÚ©    None  653.0
144                 Ù†ÛŒØ³Ø§Ù† ØªÚ©    None    NaN
145                 Ù†ÛŒØ³Ø§Ù† ØªÚ©    None  760.0
146  Ù†ÛŒØ³Ø§Ù† Ø¯ÙˆÚ¯Ø§Ù† Ø³ÛŒÙ…ÛŒ Ø±Ø§Ø¯ÛŒØ§Ù„    None  715.0
147                    Ú©Ø§Ø±ÙˆÙ†    None    NaN

[148 rows x 3 columns]

In [33]:
df = pd.read_json("cafekhodroo_messages_last_10000.json")

In [36]:
df.shape

(1202, 8)

In [40]:
filter = ~df["is_reply"]

In [42]:
df[filter]

,id,date,text,sender_id,is_comment,is_reply,related_message_id,sender_name
0,3760586,2024-12-05 15:49:44+00:00,Ø¯ÙˆØ³ØªØ§Ù† Ú©Ø³ÛŒ Ø®Ø¨Ø± Ø¯Ø§Ø±Ù‡ Ù¾ÛŒØ´ ÙØ±ÙˆØ´ Ø¬Ø¯ÛŒØ¯ Ø§ÛŒØ±Ø§Ù† Ø®ÙˆØ¯Ø±Ùˆ ...,201371324,False,False,NaN,None
2,3760582,2024-12-05 15:45:07+00:00,Ø¨Ø¹Ø¶ÛŒØ§ Ù…Ø« Ú¯Ø§Ùˆ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒÚ©Ù†Ù† . Ù‡Ø± Ù…Ø§Ø´ÛŒÙ† Ø¯ÛŒÚ¯Ù‡ Ø¨Ø§Ø´...,2059910303,False,False,NaN,None
6,3760578,2024-12-05 15:41:43+00:00,Ø³Ù„Ø§Ù… Ø¨Ø±Ø§ Ø«Ø¨Øª Ù†Ø§Ù… Ø®ÙˆØ¯Ø±Ùˆ ÙˆØ§Ø±Ø¯Ø§ØªÙŠ Ú©Ø¯ÙˆÙ… Ù…Ø§Ø´ÛŒÙ† Ù‡Ø§Ø±Ùˆ...,5140029363,False,False,NaN,Niiio21
7,3760577,2024-12-05 15:38:37+00:00,ÙˆÚ¯Ø±Ù†Ù‡ Ø¢Ø²Ø§Ø¯ Ø¨Ø®ÙˆØ§Ù… Ø¨Ú¯ÛŒØ±Ù… Ø¨Ù„Ù‡ Ø­Ù‚ Ø¨Ø§ Ø´Ù…Ø§Ø³Øª,1917934812,False,False,NaN,Nik77_y
12,3760571,2024-12-05 15:36:42+00:00,Ø¨ÛŒÙ† Ù„Ø§Ø³ØªÛŒÚ©Ø§ÛŒ Ú©ÙˆÛŒØ± Ú¯Ù„ kb33 Ø®ÙˆØ¨Ù‡ ÛŒØ§ kb77ØŸ,1917934812,False,False,NaN,Nik77_y
...,...,...,...,...,...,...,...,...
1194,3759064,2024-12-05 03:04:05+00:00,Ø³Ù„Ø§Ù… Ø¯ÙˆØ³ØªØ§Ù† \n\nÙ…Ù† ÙˆÙ‚ØªØ´ Ø±Ø³ÛŒØ¯Ù‡ Ú©Ù‡ Ø±ÙˆØºÙ† ØªØ¹ÙˆÛŒØ¶ Ú©Ù†...,5183149380,False,False,NaN,Talashgaram
1198,3759060,2024-12-05 02:33:39+00:00,Ø¨Ø§Ø² Ú©Ø±Ø¯Ù† Ú¯Ø±ÙˆÙ‡,101952799,False,False,NaN,Mortezahn95
1199,3759006,2024-12-04 20:43:39+00:00,ğŸ”´Ø¬Ù‡Øª Ø¹Ø¶ÙˆÛŒØª Ø¯Ø± Ú©Ø§Ù†Ø§Ù„Ù‡Ø§ÛŒ Ù…Ø±Ø¨ÙˆØ· Ø¨Ù‡ Ú©Ø§ÙÙ‡ Ø®ÙˆØ¯Ø±Ùˆ Ø§Ø² ...,5820471074,False,False,NaN,Cofekhodro
1200,3759004,2024-12-04 20:40:24+00:00,**ğŸš¨Ø¢Ù…Ø§Ø± ØªÙˆÙ„ÛŒØ¯ Ø±ÙˆØ²Ø§Ù†Ù‡ Ø³Ø§ÛŒØª Ø§ÛŒØ±Ø§Ù† Ø®ÙˆØ¯Ø±ÙˆğŸš¨\nÂ Â Â Â Â Â ...,5820471074,False,False,NaN,Cofekhodro
1201,3758998,2024-12-04 20:08:21+00:00,https://t.me/cofeekhodro,84270822,False,False,NaN,Saied_hosseiny_1203

In [60]:
df[filter]["text"].str.len().max()

1446

In [50]:
il = df[filter]["text"].str.len().argmax()

In [56]:
df.loc[il, "text"]

'â€º Ú©Ø§Ø±Ø¨Ø± ( [Erfan](tg://user?id=5961980831) )\n\nâ€ºâ€º Ø§Ø² Ø­Ø§Ù„Øª Ø³Ú©ÙˆØª Ø®Ø§Ø±Ø¬ Ø´Ø¯.'